.modal-header {
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
}


.sentence-font {
    color: black;
    font-size: 16px;
}


.card-header {
    background-color: rgb(204, 210, 238);
    color: #000000;
    font-size: 20px;
}

.examples-text {
    font-size: 14px; 
  }

  
.card-accordion{
    margin-top: 10px;
    margin-left: 10px;
}

.title-correcctions {
    display: flex;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
    justify-content: center;
}

.edit-frase {
    margin-top: 8px;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    padding: 10px; 
    border-radius: 5px; 
  }
  
.container-header{
    width: 100%;
}

.custom-accordion-header-terminological button {
  background-color: aliceblue; /* Cambia el color aquí */
  color: black; /* Cambia el color del texto aquí, si es necesario */
}

.custom-accordion-header-gramatical button {
  background-color: rgba(140,255,107, 0.25); /* Cambia el color aquí */
  color: black; /* Cambia el color del texto aquí, si es necesario */
}

.custom-accordion-header-functional button {
  background-color: blanchedalmond; /* Cambia el color aquí */
  color: black; /* Cambia el color del texto aquí, si es necesario */
}

/* Sobrescribir estilos base para los botones colapsados */
.accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: transparent !important; /* Elimina el fondo predeterminado */
}

/* Estilos específicos por tipo */
.custom-accordion-header-terminological .accordion-button:not(.collapsed) {
  background-color: #98caf7 !important; /* Fondo para terminological */
  color: black !important; /* Texto para terminological */
}

.custom-accordion-header-gramatical .accordion-button:not(.collapsed) {
  background-color: rgba(140, 255, 107, 0.5) !important; /* Fondo para gramatical */
  color: black !important; /* Texto para gramatical */
}

.custom-accordion-header-functional .accordion-button:not(.collapsed) {
  background-color: #f6c985 !important; /* Fondo para functional */
  color: black !important; /* Texto para functional */
}

