
.landing-page {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  width: 100%;
  background-color: #333; /* Puedes cambiar el color de fondo según tus preferencias */
  color: #fff; /* Cambia el color del texto según tus preferencias */
  position: fixed; /* Para que la barra de navegación quede fija en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que esté en la parte superior de otros elementos */
  padding: 10px 20px; /* Añade relleno (padding) para espaciar el contenido interno */
  box-sizing: border-box; /* Incluye el relleno en el ancho total */
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 60px 0;
}

.left-section {
  width: 70%;
  text-align: left;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
