#root {
  margin: 0 auto;
  text-align: center;
}

.custom-progress-bar {
  height: 30px;
}

.tphrases-progress-bar {
  width: 98%;
  margin: 0 auto;
}

.custom-alert{
  margin-top: 2%;
}

.translator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}